/.idea
/.vscode
/.github
/gulp-tasks
/node_modules
/public
/src/templates
/src/test
/src/vendor
/.browserslistrc
/.gitattributes
/.gitignore
/.npmignore
/.prettierrc
/config.js
/global-data.json
/gulpfile.js
/package-lock.json
/paths.js
/tsconfig.json
/tsconfig.webpack.json
/webpack.config.js
debug.log