@mixin piece($set, $color, $piece, $code, $load: true) {
    &.#{$piece} {
        @if $load {
            background-image: svg-load("#{$set}/#{$color}#{$code}.svg"); 
        } @else {
            background-image: url("#{$set}/#{$color}#{$code}.svg"); 
        }
        
    }
}

$pcolors: ("white": "w", "black": "b");
$pnames: ("pawn": "P", "knight": "N", "bishop": "B", "rock": "R", "queen": "Q", "king": "K");

@mixin makeSet($name, $load: true) {
    .#{$name} {
        @each $cname, $ccode in $pcolors {
            .#{$cname} {
                @each $pname, $pcode in $pnames {
                    @include piece($name, $ccode, $pname, $pcode, $load);
                }
            }
        }
    }
}