.ui-game-info {
  & > div {
    margin-bottom: 10px;
  }

  span {
    span {
      padding-left: 10px;
    }
  }

  .game-name {
    font-weight: bold;
    font-size: 1.2em;
    span {
      font-weight: normal;
      font-size: 1em;
    }
  }
}