.movetimes {
    width: 100%;

    .graph-container {
        width: calc(100% - 125px);
        display: inline-block;
    }

    .graph-totals {
        width: 120px;
        height: 100%;
        display: inline-block;
    }

    .white {
        color: #000;
    }

    .black {
        color: #fff;
    }

    .white, .black {
        height: 200px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;

        & > span {
            display: table;
            height: 100%;
            margin: 0 auto;
            width: 100%;

            span {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 991px) {
    .movetimes {
        .graph-container {
            width: 100%;
            display: block;
        }

        .graph-totals {
            width: 100%;
            height: auto;
            display: block;
            padding: .5em;
        }
    }
}

