
@mixin board-set($square-size, $frame-size, $label-font-size) {
    .board-container {
        width: $square-size * 8;
        max-width: 100%;
    }

    &.captures {
        [data-kind="square"] {
            height: $square-size;
            width: $square-size;
        }
    }

    & .board-height {
        height: $square-size * 8;
    }

    & .board-width {
        width: $square-size * 8;
    }
}

@each $board in $boardSizes {
    .#{map-get($board, "code")} {
        @include board-set(map-get($board, "square"), map-get($board, "frame"), map-get($board, "font"));
    }
}
